<!-- As a link -->
<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
</nav>


<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Sign Up</h3>

            </div>
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <!-- two binding - formControlName=="uname" -->
                        <input type="text" class="form-control" formControlName="uname" name="uname" placeholder="Name"
                            id="reg_name" required>

                    </div>
<!-- form validation -->
<div *ngIf="(this.registerForm.get('uname')?.touched|| this.registerForm.get('uname')?.dirty) && this.registerForm.get('uname')?.errors" style="color: red;">invalid unsername</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <!-- twoway binding -->
                        <input type="text" class="form-control" formControlName="acno" name="acno"
                            placeholder="account number" id="reg_accnum" required>
                           
                    </div>
 <!-- form validation -->
<div *ngIf="(this.registerForm.get('acno')?.touched|| this.registerForm.get('acno')?.dirty) && this.registerForm.get('acno')?.errors" style="color: red;">invalid accountnumber</div>
 


                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="pswd" name="pass"
                            placeholder="password" id="reg_password" required>
                    </div>
  <!-- form validation -->
<div *ngIf="(this.registerForm.get('pswd')?.touched|| this.registerForm.get('pswd')?.dirty) && this.registerForm.get('pswd')?.errors" style="color: red;">invalid password</div>
 

                    <div class="form-group">
                        <input type="submit" value="Register" class="btn float-right login_btn " style="width:50%">
                    </div>
                </form>
            </div>
            <p style="color:white;align-items:baseline;">already a user? <a routerLink="">Login</a></p>
        </div>
    </div>
</div>